/* Will be compiled down to a single stylesheet with your sass files */
@import '../components/bootstrap-sass/bootstrap-2.2.2.css';
@import 'compass';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

body {

  font-family: 'Open Sans', sans-serif;
  background: #f6f5f5;
}

#todos {
  $border-color: #e4e4e4;
  $footer-color: #999;

  margin-top: 100px;
  border: 1px solid $border-color;
  background: white;
  @include border-radius();

  h3 {
    text-align: center;
    padding: 15px;
  }

  hr {
    border-style: dashed;
  }

  form {
    padding: 0 15px; 
  }
  .status {
    padding: 15px;
    padding-top: 0;
    .remaining {
      color: $footer-color;

    }
  }
}

#todo-list {
  $odd-background: #f4f7fa;
  @include no-bullets;
  margin: 0;

  li {
    @include clearfix;
    padding: 15px;
    input, label {
      float:left;
      margin-right: 10px;
    }
    &.odd {
      background: $odd-background;
    }
  }
}
