@import url(../components/bootstrap-sass/bootstrap-2.2.2.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
/* Will be compiled down to a single stylesheet with your sass files */
/* line 6, ../../app/styles/main.scss */
body {
  font-family: 'Open Sans', sans-serif;
  background: #f6f5f5;
}

/* line 12, ../../app/styles/main.scss */
#todito {
  margin-top: 100px;
  border: 1px solid #e4e4e4;
  background: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 21, ../../app/styles/main.scss */
#todito h3 {
  text-align: center;
  padding: 15px;
}
/* line 26, ../../app/styles/main.scss */
#todito hr {
  border-style: dashed;
}
/* line 30, ../../app/styles/main.scss */
#todito form {
  padding: 0 15px;
}
/* line 33, ../../app/styles/main.scss */
#todito .status {
  padding: 15px;
  padding-top: 0;
}
/* line 36, ../../app/styles/main.scss */
#todito .status .remaining {
  color: #999999;
}

/* line 43, ../../app/styles/main.scss */
#todos {
  list-style: none;
  margin: 0;
}
/* line 11, ../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
#todos li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
/* line 48, ../../app/styles/main.scss */
#todos li {
  overflow: hidden;
  *zoom: 1;
  padding: 15px;
}
/* line 51, ../../app/styles/main.scss */
#todos li input, #todos li label {
  float: left;
  margin-right: 10px;
}
/* line 55, ../../app/styles/main.scss */
#todos li.odd {
  background: #f4f7fa;
}
