@import url(../components/bootstrap-sass/bootstrap-2.2.2.css);
/* Will be compiled down to a single stylesheet with your sass files */
/* line 5, ../../app/styles/main.scss */
body {
  background: #f6f5f5;
}

/* line 10, ../../app/styles/main.scss */
#todos {
  margin-top: 100px;
  border: 1px solid #e4e4e4;
  background: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 19, ../../app/styles/main.scss */
#todos h3 {
  text-align: center;
}
/* line 23, ../../app/styles/main.scss */
#todos form {
  padding: 15px;
}
/* line 26, ../../app/styles/main.scss */
#todos .status {
  padding: 15px;
}
/* line 28, ../../app/styles/main.scss */
#todos .status .remaining {
  color: #999999;
}

/* line 35, ../../app/styles/main.scss */
#todo-list {
  list-style: none;
  margin: 0;
}
/* line 11, ../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
#todo-list li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
/* line 40, ../../app/styles/main.scss */
#todo-list li {
  overflow: hidden;
  *zoom: 1;
  padding: 10px;
}
/* line 43, ../../app/styles/main.scss */
#todo-list li input, #todo-list li label {
  float: left;
  margin-right: 10px;
}
/* line 47, ../../app/styles/main.scss */
#todo-list li.odd {
  background: #f4f7fa;
}
